    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>   
        


    


    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white "
            style="background-color: black;"
            >
      
      <!-- Section: Social media -->
  
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-0">
          <!-- Grid row -->
          <div class="row pt-5">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold">DENIM SUPPLY</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: white; height: 2px"
                  />
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                 Aliquam rem animi quae explicabo nisi aspernatur excepturi,
                 corrupti eius. Earum, veniam.
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Products</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: white; height: 2px"
                  />
              <p>
                <a href="/info" class="text-white">About</a>
              </p>
              <p>
                <a href="#!" class="text-white">Selvege Denim</a>
              </p>
              <p>
                <a href="#!" class="text-white">Sign up</a>
              </p>
              <p>
                <a href="#!" class="text-white">Spring collection</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Useful links</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: white; height: 2px"
                  />
              <p>
                <a href="profile.ejs" class="text-white">Your Account</a>
              </p>
              <p>
                <a href="#!" class="text-white">Become an Affiliate</a>
              </p>
              <p>
                <a href="#!" class="text-white">Shipping Rates</a>
              </p>
              <p>
                <a href="#!" class="text-white">Help</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Contact</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: white; height: 2px"
                  />
              <p><i class="fas fa-home mr-3"></i> New York, NY 10002, US</p>
              <p><i class="fas fa-envelope mr-3"></i> INFO@denimsupply.com</p>
              <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
              <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
  <div class="row m-0 p-0 " style="width: 100vw;">
      <!-- Copyright -->
      <div
           class="col-md-6 text-left p-3"
           style="background-color: black"
           >
           <span> © 2023 Copyright:
            <a class="text-white" href="/"
               >DENIMSUPPLY.COM</a></span>  
               </div>
       
           <!-- ******Section: Social media *******-->
      <section
               class="d-flex justify-content-end p-4 col-md-6"
               style="background-color: black;">
               
               
        <!-- Left -->
        <div class="me-5">
          <span>Connect with us:</span>
        </div>
        <!-- Left -->
  
        <!-- Right -->
        <div>
          <a href="" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/feed/" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://github.com/camerontorres" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
          
      
    </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  
  
   
</body>
</html>