<%- include('partials/header') -%>





<div class="container-fluid headerGap">
	
	<div class="row"> <!---big carousel-->
		<div class="col-md-12 p-0 d-none d-sm-block">
			<div class="carousel slide "   id= "carousel-592952" data-bs-ride="carousel">
				<ol class="carousel-indicators slide-hide-on-mobile">
					<li data-bs-slide-to="0" data-bs-target="#carousel-592952" class="active">
					</li>
					<li data-bs-slide-to="1" data-bs-target="#carousel-592952">
					</li>
					<li data-bs-slide-to="2" data-bs-target="#carousel-592952" >
					</li>
				</ol>
				<div class="carousel-inner" style="height: 600px !important;">
					<div class="carousel-item active" style="height: 550px !important;">
						<img class="d-block" id="c1" style=" width: 100vw;"  alt="Carousel Bootstrap First" src="/imgs/c1.jpg" />
						<div class="carousel-caption text-dark" style="text-align: left; padding-left: 4em; ">
							<h1 class="text-uppercase">
								Spring/Summer 23
							</h1>
							<p>
								Browse the latest collections. Inspired by modern life, for modern life.
							</p>
						</div>
					</div>
					<div class="carousel-item " style="height: 550px !important;">
						<img class="d-block" id="c2" style="height: 1400px !important; object-position: 0px -650px; width: 100vw;"  alt="Carousel Bootstrap Second" src="/imgs/c2.jpg" />
						<div class="carousel-caption text-dark" style="text-align: left;">
							<h1 class="text-uppercase">
								No fast fashion here
							</h1>
							<p >
								Every stich and fold was made to last. With high quality materials and master expertice, our clothes will last a lifetime.
							</p>
						</div>
					</div>
					<div class="carousel-item " style="height: 550px !important;">
						<img id="c3" class="d-block" style="height: 1400px !important; object-position: 0px -650px; width: 100vw;" alt="Carousel Bootstrap Third" src="/imgs/c3.jpg" />
						<div class="carousel-caption" style="background: rgba(142, 142, 142, 0.634)">
							<h1 class="text-uppercase">
								New Spring Jackets for Spring 23
							</h1>
							<p>
								<a class="btn btn-dark" href="/products/man">Shop Men </a>
                                <a class="btn btn-dark" href="/products/woman">Shop Women </a>
							</p>
						</div>
					</div>
				</div> 
				

				<button class="carousel-control-prev" type="button" data-bs-target="#carousel-592952" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
					<span class="visually-hidden">Previous</span>
				  </button>
				  <button class="carousel-control-next" type="button" data-bs-target="#carousel-592952" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
					<span class="visually-hidden">Next</span>
				  </button>
			</div>
		</div>
	</div>
	<div class="row d-flex"> <!--- first row images 4/4/4 -->
        <div class="col-md-4 firstRowImg xs-sizing" style="padding: 0;" style="padding: 0;">

            <img class="behind xs-sizing threeByThree" src="imgs/man.jpg"  alt="">

                    <a class="inFront section1 m-0" style="height: fit-content; width: 100%"href="/products/man">                    
                        <section class="section1 appear xs" style="height: 600px; width: 100%"> <!--width 33vw-->
                                <h1 class="text-center text-dark bg-light ptSans" style="width: 100%;"  >MAN</h1>
                        </section>
                    </a>
           
		</div>
        <div class="col-md-4 firstRowImg" style="padding: 0;" style="padding: 0;">

            <img class="behind xs-sizing threeByThree" src="imgs/woman.jpg"  alt="">

                    <a class="inFront section1 m-0" style="height: fit-content; width: 100%;"href="/products/woman">                    
                        <section class="section1 appear xs" style="height: 600px; width: 100%;">
                                <h1 class="text-center text-dark bg-light ptSans" style="width: 100%;">WOMAN</h1>
                        </section>
                    </a>
           
		</div>
		<div class="col-md-4 firstRowImg " style="padding: 0;" style="padding: 0;">

            <img class="behind xs-sizing  threeByThree" src="imgs/bag2.jpg"  alt="">

                    <a class="inFront section1 m-0" style="height: fit-content;width: 100%;"href="/products">                    
                        <section class="section1 appear xs" style="height: 600px; width: 100%;">
                                <h1 class="text-center text-dark bg-light ptSans"style="width: 100%;"  >ACCESSORIES</h1>
                        </section>
                    </a>
           
		</div>
	</div>
	<div class="row" ><!--- second row images 2/2-->
		<div class="col-md-6 w-50" style="padding: 0; height: 600px;" style="padding: 0;">
            <img class="behind w-50" src="imgs/nyc2.jpg" style="height: 600px; " alt="">

                    <a class="inFront section1" style="height: fit-content; width: fit-content;"href="/newyork">                    
                        <section class="section1 appear xs" style="height: 600px; width: 50vw;">
                                <h1 class="text-center text-dark ptSansSmall " style="margin-bottom: 120px;" >NYC STORE</h1>
                        </section>
                    </a>
            
            
		</div>
		<div class="col-md-6 w-50" style="padding: 0; height: 600px;" style="padding: 0;">
            <img class="behind w-50 " src="imgs/seoul2.jpg" style="height: 600px; " alt=""> 
            

                    <a class="inFront section1" style="height: fit-content; width: fit-content;"href="/seoul"> 
                                          
                        <section class="section1 appear xs" style="height: 600px; width: 50vw;">
                            
                                <h1 class="  text-center text-white ptSansSmall" style="margin-bottom: 120px;" >SEOUL STORE</h1>
                        </section>
                    </a>
            
            
		</div>
	</div>
	<div class="row " > <!--- third row images 3/3/3/3-->
		<div class="col-md-3" style="padding: 0px">
			<div style="position: relative; overflow: hidden;">
            <img class="pageImg quarterImg behind "  src="imgs/merch/blacktee.jpg" alt="">
            <a href="">
                <section class="section1 inFront appear bg-dark" style="height: 350px; width: 25vw;">
                            
                    <h1 class="  text-center text-white"  >Heavyweight Tee</h1>
            </section>           
             </a>
			</div>
		</div>
		<div class="col-md-3" style="padding: 0px">
			<div style="position: relative; overflow: hidden;">
            <img class="pageImg behind quarterImg"  src="imgs/merch/greyteew.jpg" alt="">
            <a href="">
                <section class="section1 inFront appear bg-dark" style="height: 350px; width: 25vw;">
                            
                    <h1 class="  text-center text-white"  >Unisex Tee</h1>
            </section>           
             </a>
			 </div>
		</div>
		<div class="col-md-3" style="padding: 0px">
			<div style="position: relative; overflow: hidden;">
            <img class="pageImg behind quarterImg"  src="imgs/merch/pinkteem.jpg" alt="">
            <a href="">
                <section class="section1 inFront appear bg-dark" style="height: 350px; width: 25vw;">
                            
                    <h1 class="  text-center text-white"  >Cotton Shirt</h1>
            </section>           
             </a>
			 </div>
		</div>
		<div class="col-md-3" style="padding: 0px">
			<div style="position: relative; overflow: hidden;">
            <img class="pageImg behind quarterImg"  src="imgs/merch/orangecrop.jpg" alt="">
            <a href="">
                <section class="section1 inFront appear bg-dark" style="height: 350px; width: 25vw;">
                            
                    <h1 class="  text-center text-white"  >Summer Crop Top</h1>
            </section>           
             </a>
			 </div>
		</div>
	</div>
	<div class="row"> <!--- cards 4/4/4 -->
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4" style="padding: 0px">
					<div class="card">
						<img class="card-img-top" alt="Bootstrap Thumbnail First" src="imgs/card1.jpg" style="height:320px"  />
						<div class="card-block bg-light text-dark" style="height: 220px">
							<h5 class="card-title text-center pt-3">
								Sign up for exclusive discounts
							</h5>
							<p class="card-text" style="padding: 0 30px 0 30px">
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
							<p class="text-center">
								<a class="btn btn-light" href="/signup">Sign up</a> 
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4" style="padding: 0px">
					<div class="card">
						<img class="card-img-top" alt="Bootstrap Thumbnail Second" src="imgs/card2.jpg" style="height:320px"  />
						<div class="card-block bg-$gray-400" style="height: 220px">
							<h5 class="card-title text-center pt-3">
								Shop the sale
							</h5>
							<p class="card-text" style="padding: 0 30px 0 30px">
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
							<p class="text-center">
								<a class="btn btn-light" href="/products/sale">Shop</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4" style="padding: 0px">
					<div class="card">
						<img class="card-img-top" alt="Bootstrap Thumbnail Third" src="imgs/card3.jpg" style="height:320px" />
						<div class="card-block bg-light text-dark" style="height: 220px">
							<h5 class="card-title text-center pt-3">
								Browse the bestsellers
							</h5>
							<p class="card-text" style="padding: 0 30px 0 30px">
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
							<p class="text-center">
								<a class="btn btn-light" href="/products">Browse</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row"> <!--- csign up form -->
        <div class="col-md-6 d-none d-sm-block" style=" height: 500px; padding: 0px; background-size:cover;">
            <img class="behind" src="imgs/signup.jpg" style="height: 500px; width: 50vw;" alt="">

            
            <h1 class="text-white inFront"> <!---placeholder text!!!! ---></h1>
        </div>
		<div class="col-md-6 d-flex flex-column justify-content-center bg-dark xs-sizing" style="background-image: url(/imgs/clouds.jpg); background-size: cover;">
			<form role="form d-flex flex-column">
				<div class="form-group d-flex flex-column text-center">
					 
					<label for="exampleInputEmail1" class="mx-auto text-center text-white " style="width: 100%;">
						<h2 class="ptSansSmall">Sign up for the lastest drops</h2>
					</label>
					<input type="email" class="form-control signUp mx-auto mt-3" id="exampleInputEmail1" placeholder="Enter your Email address" />
				</div>
			


                    <div class="row justify-content-center align-self-center">
                        <button type="submit" class="btn btn-light mt-3" style="width: 100px;"> <!-- try d-text / mx-auto -->
                            Submit
                        </button>
                    </div>
                   
			</form>
		</div>
	</div>
</div>
    

<%- include('partials/footer') -%>