<%- include('partials/header') -%>


<main class="container headerGap">
    
    <div class="row bg-light justify-content-center">
        <div class="col-md-10 ">
        
        <div>
            <h1 class="text-center mt-5 ">About</h1>

        </div>
        <div class="p-5">
            <p>
                This project is a work in progress for a clothing store. Theres still a lot I would like to work on but I know i cant keep 
                working on this forever so I would like to comeback at somepoint to revisit or perhaps start again from scratch.<br> Overall im pleased
            with how it turned out for the most part despite its wonky-ness. I know theres easier ways to implement most of what I did but I was happy to 
        figure out what it was I was working on despite the stress and frustration it caused me haha. Even though simple aspects took a while to figure out I felt like I learned a lot about what I was doing
    and feel confident going into my next project!</p>
    <p>things left to do:</p>
    <ul>
        <li>get cart page built</li>
        <li>get wishlist for users working</li>
        <li>options for translation via the navbar button</li>
        <li>change the favicon</li>
        <li>clean up display for different screen sizes and browsers, primarily mobile as it is currently broken</li>
        <li>general cleanup and optimizing of code</li>
        
    </ul>
            <p class="text-center">
                Thank you for visiting!
            </p>
            <div class="text-center">

            <a href="/" class="col-3 btn btn-secondary text-center mx-auto" style="width: 150;"> Back to home</a>
        </div>
        </div>
    </div>
    </div>


</main>

<%- include('partials/footer') -%>