<%- include('partials/header') -%>

<div class="container-fluid bg-white headerGap" style="padding: 0;">
    <div class="row seoulBgImg m-0 p-0" style="height: 400px; width: 100vw" >
        
        


    </div>
    <div class="row m-0 p-0" style="height: 600px; width: 100vw;">
        <div class="col-md-6 p-0">
            <img src="imgs/nyc3.jpg" style="height: 600px; width: 50vw;">

        </div>
        <div class="col-md-6 d-flex bg-secondary p-0" style="width: 50vw;">
            <div class="p-4 align-self-center text-white" style="height: 50%">
                <h1 class="text-center">Come visit us</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita est aliquid veniam architecto omnis?
                    Accusantium enim neque debitis impedit 
                    unde fugiat vitae illum, saepe explicabo commodi! Eos enim, adipisci 
                    quisquam est praesentium in accusantium eum.
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nihil fugiat iusto aliquid cumque provident, laboriosam quibusdam.
                </p>
        </div>


        </div>

    </div>
    <div class="row m-0" style="width: 100vw">
        <div class="col-md-6 p-0 d-flex bg-secondary p-0">

                <div class="p-4 align-self-center text-white" style="height: 50%">
                    <h1 class="text-center">Located in the heart of Seoul</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita est aliquid veniam architecto omnis?
                        Accusantium enim neque debitis impedit 
                        unde fugiat vitae illum, saepe explicabo commodi! Eos enim, adipisci 
                        quisquam est praesentium in accusantium eum.
                    </p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Nihil fugiat iusto aliquid cumque provident, laboriosam quibusdam.
                    </p>
            </div>                
        </div>

        <div class="col-md-6 p-0">
            <div class="map p-0 m-0" style="width: 50vw; height: 600px"> <!-- MAP-->
                <iframe src="https://snazzymaps.com/embed/473992" width="100%" height="600px" style="border:none;"></iframe>
            </div>

        </div>
    </div>
</div>
<%- include('partials/footer') -%>