*, ::after, ::before {
  box-sizing: border-box;
}
#brandName{
  
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 1.5em
  
}
.threeByThree{
  height: 600px;
   width: 33.33%
}
.ptSans{
  font-family: 'PT Sans';
    font-weight: 400;
    font-size: 4em;
}
.ptSansSmall{
  font-family: 'PT Sans';
    font-weight: 400;
    font-size: 3em;
}

@media only screen and (max-width: 768px) { 
  .slide-hide-on-mobile { display: none; }
}




.headerGap{
  margin-top: 56px;
}

.profPicMain{
    height: 150px;
    width: 150px;
}
#c3{
  
  object-position:  top;
}

.hov{
  
  color: white;
}


a {
    text-decoration: none;
    color: black
}
a:hover{
    color: orange;
}
.siteTitle{
    text-decoration: none;
    color: black;
}

body{
    background: darkgray;
}


.modal-content {
    background-color: transparent;
  }
  .modal-dialoge {
    background-color: transparent;
  }
  .modal{
    background-color: transparent;
  }

  .profPicUpdateBtn {
    display: block;
  }

  .navbar{
    background-color: grey;
  }

  .pageImg{
    padding-left: 0px;
    padding-right: 0px;
  }
  .signUp{
    width: 50%;
  }

  .card{
    border: none;
    border-radius: none;
  }

  .card-img, .card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    }

    .img{
      z-index: 0;
    }
    
  

    .firstRowImg {
      height: 600px;
      
      padding: 0px;
      background-size: cover;
      background-repeat: no-repeat;
    }
    

.behind{
  z-index: 0;
  position: absolute;
  
}
.inFront{
  z-index: 1;
  position: relative;
  color: white;
  vertical-align: middle
}
.outer {
  display: flex;
  align-items: center; 
  justify-content: center;
}

.section1 {
  height: 90%; 
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.appear{
  opacity: 0.0;
  transition: opacity .55s ease-in-out;
  -moz-transition: opacity .55s ease-in-out;
  -webkit-transition: opacity .55s ease-in-out;
}
@media screen and (min-width: 800px) {
  .appear:hover{
    opacity: 1.0;
   transition: opacity .55s ease-in-out;
   -moz-transition: opacity .55s ease-in-out;
   -webkit-transition: opacity .55s ease-in-out;
 } 
}
@media screen and (max-width: 799px) {
  .xs{
    opacity: 1.0;
 } 
}

.pageImg{
  height: 350px; 
   width:50vw; 
   padding: 0px;
   background-size: contain;


}

.quarterImg{ 
  object-fit: cover;
  width: 100%;
  
}


.containerProd {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-auto-rows: 500px; 
  gap: 20px 20px; 
  justify-content: center;
  
}
.col-md-12{
  justify-content: center;
  display: flex;
}
.galleryCard{
  height: 100%;
}
.galleryItem1{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.galleryItem2{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.galleryItem3{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.galleryItem4{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.galleryItem5{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.galleryItem6{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.galleryItem7{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.galleryItem8{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
.galleryItem9{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

/***** GALLERY ENDS ****/

.map {
  height: 400px; 
  width: 100%; /* The width is the width of the web page */
}

.seoulBgImg{
background-image: url("/imgs/seoul2.jpg");
background-size: cover;
background-position: 0px -680px;

}
#c1{
  height: 1fr; 
  object-position: 0px -100px;
}
#NYmap{
  height: 200px;
}

.productPage{
  display: inline-block;
}
.productPage > li{
  list-style: none;
  display: inline-block;
  width: 24%;
}
.quarterCard{
  flex: 1 0 25%; /* Set the flex properties */
  margin: 0.25em; 

}


@media screen and (max-width: 799px) {
  .xs-sizing{
    height: 100vh;
    width: 100vw;
 } 
 .navbar{
  height: 5em;
  align-items: start;
 }
 .navbar-nav{
  display: flex;
  justify-items: space-between;
  justify-content: space-between;
  flex-direction: row;
  width: 5em;
  
 }
 .navbar-nav li{
  padding: 5px;
  
 }

 .navbar-brand{
  align-self: center;
  padding: 0;
  
  margin: 0;
 }
 .firstRowImg{
  width: 100vw;
 }
 .behind{
  width: 100vw;
 }
 .quarterimg{
  display: flex;
  flex-direction: row;

 }
 #c1{

height: 100fr;
object-position:bottom;
  
}
}
