 <!-- Page Navbar -->
        <nav class="custom-navbar" data-spy="affix" data-offset-top="20">
            <div class="container">
                <a class="logo" href="#">Harmony Hub</a>
                <ul class="nav">
                    <li class="item">
                        <a class="link" href="#home">Home</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#service">Services</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#team">Team</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#blog">Blog</a>
                    </li>
                    <li class="item">
                        <a class="link" href="#contact">Contact</a>
                    </li>
                    <li class="item">
                        <a class="link" href="Gallery.html">Gallery</a>
                    </li>
                    <li class="item">
                        <a class="link" href="Event.html">Event</a>
                    </li>
                    <li class="item">
                        <a class="link" href="Login.html" id="log">Login</a>
                    </li>

                </ul>
                <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </a>
            </div>
        </nav><!-- End of Page Navbar -->